<!DOCTYPE html>
<html>
<head>
<title>Jhon RAMBO</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
<div class="mainDetails">
<div id="headshot" class="quickFade">
	<img src="{{ asset ('headshot1.jpg')}}" alt="JB" />
</div>

<div id="name">
	<h1 class="quickFade delayTwo">{{ name|upper }}</h1>
	<h2 class="quickFade delayThree">{{job}}</h2>
</div>

<div id="contactDetails" class="quickFade delayFour">
	<ul>
		<li>mail : jhon.rambo@gmail.com</li>
		<li>Retrouvé moi en Thailande, à la forge du village !</li>
		<li><a href="{{ path('app_lucky_connect') }}">Connexion</a></li>
	</ul>
</div>
<div class="clear"></div>
</div>

<div id="mainArea" class="quickFade delayFive">
<section>
	<article>
		<div class="sectionTitle">
			<h1>Présentation</h1>
		</div>
		
		<div class="sectionContent">
			<p>
			John Rambo est un ancien béret vert américain, le dernier survivant d'un commando d'élite formé durant la guerre du Viêt Nam et dirigé par le colonel Samuel Trautman. 
			Après la guerre du Viêt Nam où il a, entre autres, été capturé et torturé par l'ennemi, John Rambo est de retour aux États-Unis. Il se heurte à l'hostilité de l'Amérique envers les anciens soldats et n'arrive pas à se réinsérer socialement.
			Alors qu'il rend visite au dernier survivant de ses anciens compagnons d'armes, il apprend la mort de celui-ci des suites d'un cancer. 
			Reprenant la route, tandis qu'il essaie d'entrer dans une petite ville d'une région montagneuse afin de s'y restaurer, il entre en conflit avec les autorités locales.</div>
			</p>
	</article>
	<div class="clear"></div>
</section>




<section>
	<div class="sectionTitle">
		<h1>Expériences professionnelles</h1>
		<form action="{{ path('app_experience') }}">
    		<input type="submit" value="Nouvelles expériences"/>
		</form>
		<a href="{{ path('app_experience') }}"></a>
	</div>
	
	<div class="sectionContent">
	<p>
	</br>
	</br>
	{% for experience in experiences %}
			{{ experience.getNom() }}
			||
			{{ experience.getAnnee() }}
			||
			{{ experience.getLieu() }}
				{% if is_granted('ROLE_ADMIN') == TRUE %}
					<a href="{{ path('edit_experience', {'id': experience.getId()}) }}">Modifier</a> 
					<a href="{{ path('delete_experience', {'id': experience.getId()}) }}">Supprimer</a> 
					</br>
				{% endif %}
	{% endfor %}
	</p>	
</div>
	<div class="clear"></div>
</section>


<section>
	<div class="sectionTitle">
		<h1>Loisirs</h1>
	</div>
	
	<div class="sectionContent">
	<p>
	<a href="{{ path('app_loisir') }}">Nouveaux loisir</a>
	</br>
	</br>
	{% for loisir in loisirs %}
			{{ loisir.getNom() }}
			||
			{{ loisir.getAnnee() }}
				{% if is_granted('ROLE_ADMIN') == TRUE %}
                  	<a href="{{ path('edit_loisir', {'id': loisir.getId()}) }}">Modifier</a> 
					<a href="{{ path('delete_loisir', {'id': loisir.getId()}) }}">Supprimer</a> 
					</br>
 				{% endif %}
	{% endfor %}
		</p>
	</div>
	
	<div class="clear"></div>
</section>


<section>
	<div class="sectionTitle">
		<h1>Formation</h1>
	</div>
	
	<div class="sectionContent">
		
		<p>
		<a href="{{ path('app_formation') }}">Nouvelles formations</a>
		</br>
		</br>
	    {% for formation in formations %}
			{{ formation.getNom() }}
			||
			{{ formation.getAnnee() }}
			||
			{{ formation.getLieu() }}
				{% if is_granted('ROLE_ADMIN') == TRUE %}
					<a href="{{ path('edit_formation', {'id': formation.getId()}) }}">Modifier</a> 
					<a href="{{ path('delete_formation', {'id': formation.getId()}) }}">Supprimer</a> 
					</br>
				{% endif %}
		{% endfor %}
		</p>
		
		
		
		


	</div>
	<div class="clear"></div>
	
	


</section>

<section>
	<div class="sectionTitle">
		<h1>API</h1>
	</div>
	
	<div class="sectionContent">
		
		<p>
https://symfony-daft.c9users.io/my_cv/public/index.php/api/experiences </br>
https://symfony-daft.c9users.io/my_cv/public/index.php/api/formations </br>
https://symfony-daft.c9users.io/my_cv/public/index.php/api/loisirs </br>
		</p>
		
		

	</div>
	<div class="clear"></div>
	
</section>




</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>